{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!--link rel="stylesheet" href="/resources/demos/style.css"-->
   
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="{% static 'js/script.js' %}?v=1"></script>



    <title>Sistema web para el apoyo en el etiquetado de conjuntos de textos para tareas de procesamiento de lenguaje natural</title>
</head>
<body>
    <h1>Sistema web para el apoyo en el etiquetado de conjuntos de textos para tareas de procesamiento de lenguaje natural</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="datos" accept=".txt">
        <button type="submit">Cargar Archivo</button>
    </form>


    {% if contenido_tabla %}
    <div>

        <h2>Resultados</h2>



        <form method="post" >
            {% csrf_token %}

            <h3>Rango del Análisis de Sentimientos</h3>

            <p>
                <label for="negativo">Negativo: [ 0 - </label>
                <input type="number" step="0.001" class="izqNegativo" min="0" max="1" style="width: 50px;">
                <label> )</label>
            </p>
            
            <p>
                <label for="neutro">Neutro: [ </label>
                <input type="number" step="0.001" class="izqNeutro" min="0" max="1" style="width: 50px;" name ="izqNeutro">
                <label> - </label>
                <input type="number" step="0.001" class="derNeutro" min="0" max="1" style=" width: 50px;" name = "derNeutro">
                <label> ]</label>
            
            </p>
            
            <p>
                <label for="positivo">Positivo: ( </label>
                <input type="number" step="0.001" class="derPositivo" min="0" max="1" style=" width: 50px;">
                <label> - 1 ]</label>
            </p>

 
            <div id="slider-range" data-izq="{{ izq }}" data-der="{{ der }}" style="width: 50%;"></div>
            <br>
            <button type="submit" name="modificar_rango">Modificar Rango</button>
        </form>
        {% if alerta %}
        <script>
            alert("{{ alerta }}");
        </script>
        {% endif %}
        <h3>Opciones de limpieza y Técnicas de normalización de los textos</h3>
        <form method="post">  
            {% csrf_token %}
        
            <h4>Selecciona las opciones de limpieza:</h4>

            <label for="minusculas">
                <input type="checkbox" id="minusculas" name="limpieza_opciones" value="minusculas" {% if minusculas %}checked{% endif %}>
                Convertir texto a minúsculas
            </label><br>

            <label for="stopwords">
                <input type="checkbox" id="stopwords" name="limpieza_opciones" value="stopwords" {% if stopwords %}checked{% endif %}>
                Eliminar palabras vacías 
            </label><br>

            <label for="numeros">
                <input type="checkbox" id="numeros" name="limpieza_opciones" value="numeros" {% if numeros %}checked{% endif %}>
                Eliminar números
            </label><br>

            <label for="signos">
                <input type="checkbox" id="signos" name="limpieza_opciones" value="signos" {% if signos %}checked{% endif %}>
                Eliminar signos de puntuación
            </label><br>

            <label for="urls">
                <input type="checkbox" id="urls" name="limpieza_opciones" value="urls" {% if urls %}checked{% endif %}>
                Eliminar URLs
            </label><br>
        
            <label for="correos">
                <input type="checkbox" id="correos" name="limpieza_opciones" value="correos" {% if correos %}checked{% endif %}>
                Eliminar direcciones de correo
            </label><br>
        
            <label for="emojis">
                <input type="checkbox" id="emojis" name="limpieza_opciones" value="emojis" {% if emojis %}checked{% endif %}>
                Convertir emojis a texto
            </label><br>
            
            <label for="ortografia">
                <input type="checkbox" id="ortografia" name="limpieza_opciones" value="ortografia" {% if ortografia %}checked{% endif %}>
                Corregir ortografía
            </label><br><br>
            <h4>Elegir la técnica de normalización de los textos:</h4>
            <label for="lematizacion">
                <input type="radio" id="lematizacion" name="tecnica_normalizacion" value="lematizacion" {% if lematizacion %}checked{% endif %}>
                Lematización
            </label><br>
            <label for="stemming">
                <input type="radio" id="stemming" name="tecnica_normalizacion" value="stemming" {% if stemming %}checked{% endif %}>
                Stemming
            </label><br>


            <br>
            <button type="submit" name="aplicar_cambios">Aplicar cambios de limpieza y técnicas</button>
        </form>


        <br>
        <form action="{% url 'descargar_archivo' %}" method="post">
            {% csrf_token %}
            <table border="1">
                <thead>
                    <tr>
                        <th>TEXTOS</th>
                        <th>TEXTOS PROCESADOS</th>
                        <th>ANÁLISIS DE SENTIMIENTO</th>
                        <th>ETIQUETA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for texto, texto_procesado, resultado, etiqueta in contenido_tabla %}
                    <tr>
                        <td>{{ texto }} 
                            <!-- Campo oculto para almacenar el texto y enviarlo -->
                            <input type="hidden" id="texto_{{ forloop.counter }}" name="texto_{{ forloop.counter }}" value="{{ texto }}">
                        </td>
                        <td>{{ texto_procesado }}</td>
                        <td>{{ resultado }}</td>
                        <td>
                            <select id="select_{{ forloop.counter }}" name="select_{{ forloop.counter }}" >
                                <option value="positivo" {% if etiqueta == 'positivo' %} selected {% endif %}>Positivo</option>
                                <option value="negativo" {% if etiqueta == 'negativo' %} selected {% endif %}>Negativo</option>
                                <option value="neutro" {% if etiqueta == 'neutro' %} selected {% endif %}>Neutro</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button type="button">Guardar cambio de Etiquetas</button>

            <h2>Descargar Archivos</h2>

            <label for="formato">Selecciona el formato:</label>
            <select name="formato" id="formato">
                <option value="csv">CSV</option>
                <option value="json">JSON</option>
                <option value="xml">XML</option>
            </select>
            <button type="submit">Descargar</button>
        </form>
    </div>
    {% endif %}  
</body>
</html>
